<div class="hero-unit">
<h2>Thanks for visiting my site!</h2>
<p>A Portfolio Made with Angularjs | Twitter Bootstrap</p></div>

<img ng-src="/app/img/wedjune.jpg"/>

<h6>
My goal in life is to learn something new everyday and try to incorporate it into my existing skills.</h6>
<p> I created this application to show my versatility in using new programs such as Angularjs and Twitter Bootstrap using Sublime Text. The application is rather simple and is a work in progress, but I hope it serves my initial purpose.</p>
<p> I possess a well-rounded background with extensive experience in business, marketing and sales.</p>
<p> My story is simple. I graduated with a degree in Business, spent 2 years locked in office cubes before taking a risk and decided to follow my passion in sports. I did all the right things, I worked a double internship to pay for school, spent a summer a minor league baseball and a year in marketing and promotions. </p>
<p> Short story, I couldn't find a job and spent the next 6.5 years in beverage sales and marketing.</p>
<p> I'm not a risk taker, but I do believe that life is about following your passion.
Three years ago, I decided to use the web skills I gained in graduate school to pursue a career in multimedia. The road has been difficult and there have been numerous challenges and disappointments. 
<p> Despite these setbacks, I would not trade this experience for the world. In life, you have to be prepared for both the successes and failures that result in your decisions.</p>
<p> Thanks for your time and if you are in the market for someone with the above qualities, please do not hesitate to contact me at 843-330-9113</p>
