<div class="page-header">
<h2>Personal</h2>
</div>

<h3>Civic Groups</h3><img ng-src="/app/img/redcro.jpg">
<p>Current President of the Sandpiper Homeowners Association</p>
<p>Actively give Blood Platelets through the American Red Cross</p>
<p>Former member and webmaster of Charleston Business Leads Group</p>
<p>Member of Wounded Warrior Project and National Geographic Associaiton</p></br>



<h3>Hobbies</h3><img ng-src="/app/img/fletch_lakers.jpg">
<p> I am active reader and history buff, interested in Politics, American History and Economics.</p>
<p> Exercise daily at 5:30 in the morning at Eco-Fitness. </p>
<p> Enjoy traveling and exploring different cultures.</p>